<a href=""  class="fixed top-0 left-0 mt-4 ml-4 bg-purple-500 hover:bg-purple-600 text-white py-2 px-4 text-center font-semibold rounded-full shadow-md flex items-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg"
         height="24"
         viewBox="0 0 24 24"
         width="24"
         fill="currentColor">
        <path d="M0 0h24v24H0z"
              fill="none" />
        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
    </svg>

    Go back to demo page
</a>
