@import '../node_modules/quill/dist/quill.bubble.css';
@import '../node_modules/quill/dist/quill.snow.css';

.rich-text-editor-container.rich-text-editor-container-disabled {
    cursor: not-allowed;
    opacity: 0.38;
    pointer-events: all;
}

.rich-text-editor-editor-container.rich-text-editor-editor-container-disabled {
    pointer-events: none;
}

.ql-toolbar.ql-snow.rich-text-editor-toolbar-container-bottom {
    border-top: none;
}

.ql-toolbar.ql-snow.rich-text-editor-toolbar-container-hidden + .ql-container.ql-snow.ql-disabled.rich-text-editor-editor-container {
    border-top: 1px solid #ccc;
}

.ql-toolbar.ql-snow.rich-text-editor-toolbar-container-disabled {
    pointer-events: none;
}

.ql-toolbar.ql-snow.rich-text-editor-toolbar-container-hidden {
    display: none;
}
