<div>
    <h3>Bubble theme + custom editor container Id</h3>
    <CodeSnippet Code="@Code">
        <Component>
            <RichTextEditor Placeholder="This is epic"
                            Theme="QuillTheme.Bubble"
                            EditorContainerHtmlId="test-container-id" />
        </Component>
    </CodeSnippet>
</div>

@code {
    private const string Code = """"
                                <RichTextEditor Placeholder="This is epic"
                                                Theme="QuillTheme.Bubble"
                                                EditorContainerHtmlId="test-container-id" />
                                """";

}
