<div>
    <h3>Base component</h3>
    <CodeSnippet Code="@Code">
        <Component>
            <RichTextEditor />
        </Component>
    </CodeSnippet>
</div>

@code {
    private const string Code = "<RichTextEditor />";
}
