<div>
    <h3>Disabled editor</h3>
    <CodeSnippet Code="@Code">
        <Component>
            <RichTextEditor IsEditorEnabled="@false" />
        </Component>
    </CodeSnippet>
</div>

@code {
    private const string Code = """<RichTextEditor IsEditorEnabled="@false" />""";
}
