<div>
    <h3>Using <code class="hljs">ToolbarOptions.FullToolbarOptions</code></h3>
    <CodeSnippet Code="@Code">
        <Component>
            <RichTextEditor ToolbarOptions="ToolbarOptions.FullToolbarOptions" />
        </Component>
    </CodeSnippet>
</div>

@code {
    private const string Code = """<RichTextEditor ToolbarOptions="ToolbarOptions.FullToolbarOptions" />""";
}
