@if (_toolbarOptions.ShowSizeControls)
{
    <select class="ql-size">
        <option value="small"></option>
        <option selected=""></option>
        <option value="large"></option>
        <option value="huge"></option>
    </select>
}

@code {
    [CascadingParameter]
    private ToolbarOptions _toolbarOptions { get; set; } = null!;
}
